@model MyWebApplication1.Areas.Identity.Pages.IdentityUser.Index



<p>Great, now you have all permissions!</p>
<a class="btn btn-primary" href="/Hello/About">Press here to go to start dashboard page</a>
