@model MyWebApplication1.Views.Hello.About

<div>
    @{ 
            if (TempData["tempStatus"] != null)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Info:</strong> @TempData["tempStatus"]
                </div>
            }
        
        }
    @{
        if (@ViewData["usersession"] == null)
        {
            <h3>You are not registered.</h3>
        }
        else
        {
            <h3>Welcome, @ViewData["usersession"]</h3>
        }
    }


</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" class="form-control" placeholder="Your name"/></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" class="form-control" placeholder="Your text"/></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Try websockets" class="btn btn-success btn-block"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul class="list-group" id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>