@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vvendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">

</head>
<h2>@ViewData["Title"]</h2>


<body>
    <div class="limiter">

            <form method="post" class="login100-form validate-form">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="container-login100" >
                    <div class="wrap-login100">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                        </span>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="wrap-input100 validate-input form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="input100 form-control" />
                                        <span asp-validation-for="Input.Email" class="focus-input100"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="wrap-input100 validate-input form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="input100 form-control" />
                                        <span asp-validation-for="Input.Password" class="focus-input100"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div lass="contact100-form-checkbox form-group">
                                        <div>
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-12">
                                    <div class="container-login100-form-btn form-group">
                                        <button type="submit" class="login100-form-btn btn btn-primary">Log in&nbsp;<i class="fas fa-sign-in-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="text-center p-t-90 form-group">
                            <p>
                                <a class="txt1" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a class="txt1" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
